@using OliveAdmin.Resources

@{
    Layout = "~/Views/Shared/_AuthorizedView.cshtml";
    ViewBag.Title = Olive_Admin_Language.Doctor;
    ViewBag.ContentLarge = Olive_Admin_Language.Account;
    ViewBag.ContentSmall = Olive_Admin_Language.Doctor;
}

<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />

<section ng-app="DoctorModule"
         ng-controller="DoctorController"
         class="content">

    <!-- Account filter box-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header">
                    <span class="glyphicon glyphicon-filter"></span> <span class="box-title">Doctor filter</span>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"
                                data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">

                    <div class="col-md-6">
                        <!-- Email -->
                        <div class="form-group">
                            <label>Email</label>
                            <input ng-model="filterAccountViewModel.email"
                                   class="form-control"
                                   maxlength="64"
                                   type="text" />
                        </div>

                        <!-- Phone -->
                        <div class="form-group">
                            <label>Phone</label>
                            <input ng-model="filterAccountViewModel.phone"
                                   class="form-control" />
                        </div>

                        <!-- Created -->
                        <div class="form-group">
                            <label>Created</label>
                            
                            <div class="input-group">
                                
                                <!-- Min -->
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="filterAccountViewModel.minCreated"
                                       is-open="datePickerToggleState.minCreated"
                                       datepicker-options="globalDateTimeOptions"
                                       ng-required="true"
                                       close-text="Close"
                                       alt-input-formats="altInputFormats"
                                       readonly="readonly"
                                       ng-click="datePickerToggleState.openMinCreated();"/>

                                <span class="input-group-addon ">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </span>
                                
                                <!-- Max -->
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="filterDoctorViewModel.maxCreated"
                                       is-open="datePickerToggleState.maxCreated"
                                       datepicker-options="globalDateTimeOptions"
                                       ng-required="true"
                                       close-text="Close"
                                       alt-input-formats="altInputFormats"
                                       readonly="readonly"
                                       ng-click="datePickerToggleState.openMaxCreated();"/>

                            </div>
                            
                        </div>

                        <!-- Sort properties -->
                        <div class="form-group">

                            <label>Sort property</label>
                            <select class="form-control"
                                    ng-options="sortProperty.value as sortProperty.text for sortProperty in filterAccountSort"
                                    ng-model="filterAccountViewModel.sort"></select>
                        </div>

                        <!-- Sort directions -->
                        <div class="form-group">

                            <label>Sort direction</label>
                            <select ng-options="sortDirection.value as sortDirection.text for sortDirection in sortDirections"
                                    class="form-control"
                                    ng-model="filterAccountViewModel.direction"></select>
                        </div>

                        <!-- Statuses -->
                        <div class="form-group">
                            <label>Statuses</label>
                            
                            <multiselect ng-model="filterAccountViewModel.statuses"
                                         options="statuses"
                                         id-prop="value"
                                         display-prop="text">
                            </multiselect>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <!-- First name -->
                        <div class="form-group">
                            <label>First name</label>
                            <input ng-model="filterAccountViewModel.firstName"
                                   class="form-control"
                                   maxlength="32"
                                   type="email" />
                        </div>

                        <!-- Last name -->
                        <div class="form-group">
                            <label>Last name</label>
                            <input ng-model="filterAccountViewModel.lastName"
                                   type="text"
                                   class="form-control"
                                   maxlength="32" />
                        </div>

                        <!-- MinBirthday -->
                        <div class="form-group">
                            <label>Birthday [Min]</label>

                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="filterAccountViewModel.minBirthday"
                                       is-open="datePickerToggleState.minBirthday"
                                       datepicker-options="globalDateTimeOptions"
                                       ng-required="true"
                                       close-text="Close"
                                       alt-input-formats="altInputFormats"
                                       readonly="readonly" 
                                       ng-click="datePickerToggleState.openMinBirthday();"/>

                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </span>
                                
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="filterAccountViewModel.maxBirthday"
                                       is-open="datePickerToggleState.maxBirthday"
                                       datepicker-options="globalDateTimeOptions"
                                       ng-required="true"
                                       close-text="Close"
                                       alt-input-formats="altInputFormats"
                                       readonly="readonly"
                                       ng-click="datePickerToggleState.openMaxBirthday();" />
                            </div>

                        </div>
                        
                        <!-- Genders -->
                        <div class="form-group">
                            <label>Genders</label>

                            <multiselect ng-model="filterAccountViewModel.genders" 
                                         options="genders" 
                                         id-prop="value" 
                                         display-prop="text">
                            </multiselect>

                        </div>
                        
                        <!-- Roles -->
                        <div class="form-group">
                            <label>Roles</label>

                            <multiselect ng-model="filterAccountViewModel.roles"
                                         options="accountRoles"
                                         id-prop="value"
                                         display-prop="text">
                            </multiselect>
                        </div>

                        <!-- Record -->
                        <div class="form-group">
                            <label>Records</label>
                            <input ng-model="filterAccountViewModel.records"
                                   class="form-control"
                                   type="number"
                                   min="1"
                                   max="20" />
                        </div>

                    </div>

                </div>

                <div class="box-footer">
                    <button class="btn btn-danger btn-flat btn-block"
                            ng-click="reset()">
                        Reset
                    </button>
                </div>

                <div class="box-footer">
                    <button class="btn btn-primary btn-flat btn-block"
                            ng-click="getAccounts(pagination.page - 1)">
                        OK
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"
             ng-repeat="account in data.Accounts">
            <div class="box {{convertToBoxClass(account.Status)}}">

                <div class="box-header with-border">
                    <span class="fa fa-male"
                          ng-if="account.Gender == 0"></span>
                    <span class="fa fa-female"
                          ng-if="account.Gender == 1"></span>
                    <span class="fa fa-genderless"
                          ng-if="account.Gender != 0 && account.Gender != 1"></span>
                    <b>{{account.Email}}</b>
                </div>
                <div class="box-body">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr>
                                <th><span class="glyphicon glyphicon-credit-card"></span></th>
                                <td><span>{{account.FirstName}} {{account.LastName}}</span></td>
                            </tr>
                            <tr>
                                <th><span class="fa fa-birthday-cake"></span></th>
                                <td><span>{{account.Birthday}}</span></td>
                            </tr>
                            <tr>
                                <th><span class="fa fa-phone"></span></th>
                                <td><span>{{account.Phone}}</span></td>
                            </tr>
                            <tr>
                                <th><span class="fa fa-clock-o"></span></th>
                                <td><span>{{account.Created}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary btn-flat btn-block"
                            ng-show="account.Status !== 2"
                            ng-hide="account.Status === 2">
                        Activate
                    </button>

                    <button class="btn btn-danger btn-flat btn-block"
                            ng-show="account.Status === 2"
                            ng-click="changeAccountStatus(account.Email, 0)">
                        Disable
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <ul uib-pagination
                total-items="data.Total"
                items-per-page="pagination.records"
                ng-model="pagination.page"
                first-text="&laquo;"
                last-text="&raquo;"
                previous-text="&lt;"
                next-text="&gt;"
                ng-disabled="isResultLoading"
                ng-change="getAccounts(pagination.page - 1)"></ul>
        </div>
    </div>

</section>

<!-- Helper class which is for time handling -->
<script src="~/Scripts/jQueryTime.helper.js"></script>

<!-- Angular -->
<script src="~/Scripts/angular.min.js"></script>

<script src="~/Scripts/moment.min.js"></script>

<!-- Angular base plugin-->
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

<!-- Angular plugins -->
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/angular/angular-bootstrap-multiselect.min.js"></script>
<script src="~/Scripts/angular/angular-bootstrap-multiselect-templates.js"></script>

<!-- View model -->
<script src="~/Scripts/angular/viewmodel/filter-doctor-sort.viewmodel.js"></script>

<!-- Enumeration -->
<script src="~/Scripts/angular/enumeration/gender.enum.js"></script>
<script src="~/Scripts/angular/enumeration/sort-direction.enum.js"></script>
<script src="~/Scripts/angular/enumeration/status.enum.js"></script>
<script src="~/Scripts/angular/enumeration/account-role.js"></script>

<script>
    angular.module("DoctorModule", ["ui.bootstrap", "ui.bootstrap.pagination", "btorfs.multiselect"]);
</script>

<script src="~/Scripts/angular/controller/doctor-management-controller.js"></script>