<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<div>
    <div>
        <span>Message: </span><span>@ViewBag.Message</span></div>
</div>
</body>
</html>