001 - SOURCE_CODE/002 - OLIVES_SYSTEM/.vs
001 - SOURCE_CODE/002 - OLIVES_SYSTEM/Olives/obj/Debug
001 - SOURCE_CODE/002 - OLIVES_SYSTEM/Shared/obj/Debug
001 - SOURCE_CODE/002 - OLIVES_SYSTEM/Shared/bin/Debug
001 - SOURCE_CODE/002 - OLIVES_SYSTEM/OlivesAdministration/bin
001 - SOURCE_CODE/002 - OLIVES_SYSTEM/OlivesAdministration/obj/Debug