<html>
<head>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div ng-app="MessageApplication"
         ng-controller="MessageController">

        <span>Name</span><br />
        <input type="text"
               class="form-control"
               ng-model="Name" />
        <br />

        <span>Message</span><br />
        <input type="text"
               class="form-control"
               ng-model="Message" />

        <button class="btn btn-primary"
                ng-click="ClickSendMessage()">
            <span class="glyphicon glyphicon-send"></span>
        </button>
        <hr />
        <div>
            <table class="table table-responsive table-striped">
                <tr ng-repeat="message in Messages">
                    <th>{{message.Name}}</th>
                    <td>{{message.Content}}</td>
                </tr>
            </table>
        </div>

    </div>

</body>
</html>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script>

    angular.module("MessageApplication", [])
        .controller("MessageController", function ($scope) {

            $scope.Name = "";
            $scope.Message = "";

            $scope.Messages = [
            {
                Name: "Akai",
                Content: "Hello earth"
            },
            {
                Name: "Aoi",
                Content: "Hello sky"
            }];

            var broadcaster = $.connection.chatHub;
            $.connection.hub.qs = {
                token: "TOKEN"
            };
            $.connection.hub.start();

            broadcaster.client.broadcastMessage = function (name, message) {

                
                $scope.Messages.push({
                    Name: name,
                    Content: message
                });

                $scope.$applyAsync();
            }

            $scope.ClickSendMessage = function () {
                broadcaster.server.broadcastMessage($scope.Name, $scope.Message);
            }
        });


</script>