<html>
<head>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<div>
    This is the Login page.
</div>
</body>
</html>
