<html>
<head>
    <base href=/>
    <title>Admin | Olives</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<my-app>Loading...</my-app>
<script src="~/Scripts/polyfills.fe27ebd6d7e9a8712e0f.js"></script>
<script src="~/Scripts/vendor.fe27ebd6d7e9a8712e0f.js"></script>
<script src="~/Scripts/app.fe27ebd6d7e9a8712e0f.js"></script>
</body>
</html>